* {
  text-align: center;
}

.dash{
  background-color: gray;
}
.dashnav{
  text-align: right;
  margin-right: 50px;
}
.notifications{
  display: inline;
  margin-left: 10px;
}
.ulNotif{
  width: 150px;
  margin-left: 90%;
  list-style: none;
  text-align: center;
  
}
table, th, td, tr{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;    
}
.table_container{
  display: flex;
}
.userTable{
  margin: 0px;
  
}
.prevTable{
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  
 
}
.nextTable{
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  
}
.nextTable, .prevTable{
  height: 75px;
}
.clear{
  clear: both;
}
.working{
  background-color: blue;
}
#forty{
  background-color: indigo;
}
.avaibleShift{
  background-color: chartreuse;
}
.SelectedShift{
  background-color: green;
}
.ownerpage{
  background-color: gray;
  padding-bottom: 20px;
}
h4{
  margin-top: 0px;
  margin-bottom: 0px;
}
.ulOwner{
  padding-top: 75px;
  list-style: none;
  margin-bottom: 75px;
}
li { background: lightslategrey; }
li:nth-child(odd) { background: lightgrey; }
.createSchedules{
  font-size: 32px;
  padding: 20px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: mediumblue;
}
.requestChanges{
  border: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
h2{
  margin-top: 0px;
  padding-top:20px;
  margin-bottom: 0px;
  background-color: rgb(226, 143, 19);
}
hr{
  margin-top: 1px;
  /* width: 90%;
  margin-right: auto;
  margin-left: auto; */
}
.revision{
  margin-bottom: 23px;
  border: 1px solid darkgray;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  background-color: navajowhite;
  padding-top: 10px;
  padding-bottom: 10px;
}
.changee{
  background-color: red;
  
}
.receiver{
  background-color: lime;
 
}
.SCRButtons{
  margin-top: 5px;
}
.createForm{
  border: 3px solid black;
}
